In [63]:
import pandas as pd
import datetime
from datetime import date

In [64]:
file_path = 'Resources/California_Fire_Incidents_original.csv'
original_data_df = pd.read_csv(file_path)

In [65]:
# Clean data
ca_fire_df = original_data_df.drop(columns=[
    "Active", 
    "CanonicalUrl", 
    "ConditionStatement", 
    "FuelType", 
    "Location", 
    "ControlStatement", 
    "CalFireIncident", 
    "AdminUnit", 
    "PercentContained", 
    "Status", 
    "SearchDescription", 
    "SearchKeywords", 
    "Public", 
    "Updated"], inplace=False)

ca_fire_df.dtypes

AcresBurned             float64
AirTankers              float64
ArchiveYear               int64
Counties                 object
CountyIds                object
CrewsInvolved           float64
Dozers                  float64
Engines                 float64
Extinguished             object
Fatalities              float64
Featured                   bool
Final                      bool
Helicopters             float64
Injuries                float64
Latitude                float64
Longitude               float64
MajorIncident              bool
Name                     object
PersonnelInvolved       float64
Started                  object
StructuresDamaged       float64
StructuresDestroyed     float64
StructuresEvacuated     float64
StructuresThreatened    float64
UniqueId                 object
WaterTenders            float64
dtype: object

In [66]:
ca_fire_df.head()

,AcresBurned,AirTankers,ArchiveYear,Counties,CountyIds,CrewsInvolved,Dozers,Engines,Extinguished,Fatalities,...,MajorIncident,Name,PersonnelInvolved,Started,StructuresDamaged,StructuresDestroyed,StructuresEvacuated,StructuresThreatened,UniqueId,WaterTenders
0,257314.0,NaN,2013,Tuolumne,55,NaN,NaN,NaN,2013-09-06T18:30:00Z,NaN,...,False,Rim Fire,NaN,2013-08-17T15:25:00Z,NaN,NaN,NaN,NaN,5fb18d4d-213f-4d83-a179-daaf11939e78,NaN
1,30274.0,NaN,2013,Los Angeles,19,NaN,NaN,NaN,2013-06-08T18:30:00Z,NaN,...,False,Powerhouse Fire,NaN,2013-05-30T15:28:00Z,NaN,NaN,NaN,NaN,bf37805e-1cc2-4208-9972-753e47874c87,NaN
2,27531.0,NaN,2013,Riverside,33,NaN,NaN,NaN,2013-07-30T18:00:00Z,NaN,...,False,Mountain Fire,NaN,2013-07-15T13:43:00Z,NaN,NaN,NaN,NaN,a3149fec-4d48-427c-8b2c-59e8b79d59db,NaN
3,27440.0,NaN,2013,Placer,31,NaN,NaN,NaN,2013-08-30T08:00:00Z,NaN,...,False,American Fire,NaN,2013-08-10T16:30:00Z,NaN,NaN,NaN,NaN,8213f5c7-34fa-403b-a4bc-da2ace6e6625,NaN
4,24251.0,NaN,2013,Ventura,56,47.0,8.0,117.0,2013-05-11T06:30:00Z,NaN,...,True,Springs Fire,2167.0,2013-05-02T07:01:00Z,6.0,10.0,NaN,NaN,46731fb8-3350-4920-bdf7-910ac0eb715c,11.0

In [79]:
# Get start and end date and month data in each row
start = list(ca_fire_df['Started'])
end = list(ca_fire_df['Extinguished'])
start_date = []
end_date = []
new_format = "%Y-%m-%d"

for sd in start:
    try:
        s_date = datetime.datetime.strptime(sd[0:10], new_format).strftime(new_format)
        start_date.append(s_date)
    except:
        start_date.append(None)
        
for ed in end:
    try:
        e_date = datetime.datetime.strptime(ed[0:10], new_format).strftime(new_format)
        end_date.append(e_date)
    except:
        end_date.append(None)

# No. of day that fire incident happens
days = []

for d in range(len(end_date)):
    try:
        e_date = end_date[d]
        date_e = date(int(e_date[0:4]), int(e_date[5:7]), int(e_date[8:10]))
        s_date = start_date[d]
        date_s = date(int(s_date[0:4]), int(s_date[5:7]), int(s_date[8:10]))
        day = date_e - date_s
        days.append(day.days)
    except:
        days.append(None)

# Started month
months = []

for m in range(len(start_date)):
    try:
        s_month = start_date[m]
        month = s_month[5:7]
        months.append(int(month))
    except:
        months.append(None)