In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import time
import scipy.stats as st
from scipy.stats import linregress

In [4]:
# Output File (CSV)
output_data_file = "output_data/fire_ca.csv"

##switch to using this file, which has dropped columns

In [43]:
#load in file
#fire_data_file = "Resources/California_Fire_Incidents.csv"

#read and display csv with Pandas 
fire_data_df = pd.read_csv(output_data_file)
fire_data_df.head()

NameError: name 'output_data_file' is not defined

In [6]:
#list all of the columns in the table
fire_data_df.columns

Index(['AcresBurned', 'Active', 'AdminUnit', 'AirTankers', 'ArchiveYear',
       'CalFireIncident', 'CanonicalUrl', 'ConditionStatement',
       'ControlStatement', 'Counties', 'CountyIds', 'CrewsInvolved', 'Dozers',
       'Engines', 'Extinguished', 'Time', 'Days Burned', 'Fatalities',
       'Featured', 'Final', 'FuelType', 'Helicopters', 'Injuries', 'Latitude',
       'Location', 'Longitude', 'MajorIncident', 'Name', 'PercentContained',
       'PersonnelInvolved', 'Public', 'SearchDescription', 'SearchKeywords',
       'Started', 'Time.1', 'Status', 'StructuresDamaged',
       'StructuresDestroyed', 'StructuresEvacuated', 'StructuresThreatened',
       'UniqueId', 'Updated', 'WaterTenders'],
      dtype='object')

In [29]:
county_count = fire_data_df["Counties"].value_counts()
county_count
# county_df = pd.DataFrame(county_count)
# county_df

Riverside          146
San Diego           89
Butte               66
San Luis Obispo     64
Shasta              64
Kern                62
Fresno              57
Siskiyou            57
San Bernardino      53
Tehama              51
Lake                49
Los Angeles         46
Monterey            45
Santa Clara         39
El Dorado           37
Lassen              36
Madera              36
Tulare              35
Mariposa            35
Alameda             32
Modoc               31
Ventura             30
Santa Barbara       29
Mendocino           28
Contra Costa        27
Napa                25
Humboldt            25
Tuolumne            22
Calaveras           22
Trinity             21
San Benito          20
Stanislaus          20
Solano              19
Sonoma              18
Nevada              17
Placer              17
Merced              16
Yuba                14
Amador              13
Yolo                12
Inyo                12
Plumas              11
Sacramento          11
Mono                10
Orange              10
Glenn                8
San Joaquin          8
Colusa               6
Del Norte            6
Marin                6
Kings                5
Santa Cruz           4
Sutter               3
San Mateo            3
Mexico               2
Alpine               2
Sierra               2
State of Nevada      1
State of Oregon      1
Name: Counties, dtype: int64

In [34]:
#list unique counties

county_names = fire_data_df["Counties"].unique()
county_names

array(['Tuolumne', 'Los Angeles', 'Riverside', 'Placer', 'Ventura',
       'Fresno', 'Siskiyou', 'Humboldt', 'Tehama', 'Shasta', 'San Diego',
       'Kern', 'Sonoma', 'Contra Costa', 'Butte', 'Tulare',
       'Santa Barbara', 'Mariposa', 'Monterey', 'El Dorado',
       'San Bernardino', 'Plumas', 'Modoc', 'San Luis Obispo', 'Madera',
       'Inyo', 'Napa', 'San Benito', 'San Joaquin', 'Lake', 'Alameda',
       'Glenn', 'Yolo', 'Sacramento', 'Stanislaus', 'Solano', 'Merced',
       'Mendocino', 'Lassen', 'Amador', 'Yuba', 'Nevada', 'Santa Clara',
       'Calaveras', 'San Mateo', 'Orange', 'Colusa', 'Trinity',
       'Del Norte', 'Mono', 'Alpine', 'Sutter', 'Kings', 'Sierra',
       'Santa Cruz', 'Marin', 'Mexico', 'State of Oregon',
       'State of Nevada'], dtype=object)

In [24]:
top_ten_counties = county_df.head(10).reset_index()
top_ten_counties

             index  Counties
0        Riverside       146
1        San Diego        89
2            Butte        66
3  San Luis Obispo        64
4           Shasta        64
5             Kern        62
6           Fresno        57
7         Siskiyou        57
8   San Bernardino        53
9           Tehama        51

In [42]:
#find count of fires deemed a major incident in each county, using "MajorIncident" column

#major_incident_count = 

major_incident_count = fire_data_df.groupby("Counties")["MajorIncident"].sum().reset_index().sort_values(by= "MajorIncident", ascending = False)
major_incident_count

#add in county_count to compare total fires vs. major incidents

# major_all_df = pd.DataFrame({"Counties" : county_names, 
#                "Total Fires" : county_count, 
#                "Major Fires" : major_incident_count})
# major_all_df

           Counties  MajorIncident
3             Butte           28.0
36        San Diego           27.0
43           Shasta           26.0
15             Lake           21.0
32        Riverside           18.0
27             Napa           16.0
8         El Dorado           15.0
20         Mariposa           14.0
9            Fresno           12.0
52           Tehama           11.0
47           Sonoma           11.0
18           Madera           11.0
35   San Bernardino           11.0
38  San Luis Obispo           11.0
21        Mendocino           10.0
4         Calaveras           10.0
45         Siskiyou            9.0
2            Amador            8.0
12             Inyo            7.0
56          Ventura            7.0
11         Humboldt            6.0
17      Los Angeles            6.0
55         Tuolumne            6.0
5            Colusa            6.0
46           Solano            6.0
26         Monterey            6.0
28           Nevada            5.0
40    Santa Barbara            5.0
54           Tulare            5.0
57             Yolo            5.0
53          Trinity            4.0
30           Placer            4.0
34       San Benito            4.0
13             Kern            4.0
24            Modoc            3.0
16           Lassen            3.0
10            Glenn            3.0
6      Contra Costa            3.0
58             Yuba            3.0
41      Santa Clara            2.0
42       Santa Cruz            2.0
0           Alameda            2.0
39        San Mateo            1.0
25             Mono            1.0
14            Kings            1.0
19            Marin            1.0
22           Merced            1.0
29           Orange            1.0
33       Sacramento            1.0
48       Stanislaus            0.0
49  State of Nevada            0.0
37      San Joaquin            0.0
51           Sutter            0.0
1            Alpine            0.0
23           Mexico            0.0
31           Plumas            0.0
44           Sierra            0.0
7         Del Norte            0.0
50  State of Oregon            0.0

In [40]:
#chart top five counties with 12 or more major fires
major_incident_count.loc[(major_incident_count["MajorIncident"]>=12), ["Counties", "MajorIncident"]]

     Counties  MajorIncident
3       Butte           28.0
36  San Diego           27.0
43     Shasta           26.0
15       Lake           21.0
32  Riverside           18.0
27       Napa           16.0
8   El Dorado           15.0
20   Mariposa           14.0
9      Fresno           12.0